
.container{
    width:80%;
}       



a{
    text-decoration: none;
    color:#1AA0BA;
}

a:hover{
    text-decoration: none;
    color:#1AA0BA;
    font-weight: bold;
}
.tabs-page{
    clear: both;
}
#allStatus2{
    margin-top:15px;
    float: right;
    width:100%;
    margin-bottom: 5px; 
}
.poly2{
    -webkit-clip-path: polygon(100% 25%, 75% 50%, 100% 75%, 20% 75%, 0 50%, 17% 25%);
    clip-path: polygon(100% 25%, 82% 50%,100% 75%, 20% 75%, 0 50%, 17% 25%);
    width: 18%;
    height: 150px;
    float: right;
    font-size: 1.5vw;
    padding-top: 50px;
    padding-right: 40px;
}

.status-a{
    background-color:#cecbcb;
}

.status-b{
    background-color:#f3f56f;
}

.status-c{
    background-color:#9fef9d;
}

.status-short{
    padding-top: 50px;
    padding-right: 50px;
}
              
#map{
    float:left;
    width:30%;
    height: 100%;
}

#desc{
    width:50%;
    float: right;
    height:100%;
}
.bar2{
    width: 80%;
    margin:0 auto;
    padding-top: 5vh;
    margin-top:10px;
}

#mainBar2{
	width:80%;
	background-color: rgb(147, 142, 142,0.5);
	border-radius: 20px;
	margin:0 auto;
	direction: ltr;	
}

.descriptionproject
{
    min-height: 150px;
}

.pictureCard2{
    float:right;
    margin-top:1vh;
}

.pictureCard2 img{
    width:70%;
}

.pictureCard2 p{
    margin-right:1vw;
}

#buttonFund{
    padding: 10px;
    border: 2px solid #1AA0BA;
    background-color: #1AA0BA;
    border-radius: 10px;
    font-size:18px;
    font-weight: bold;
    margin-bottom: 44px;
}
#buttonFund a{
    text-decoration: none;
    color:white;
}



#subMain{
    border:1px solid black;
    margin-top:15px;
}


.tabs
{
    margin-top:50px;
    margin-bottom: 50px;
    width:100%
}

.nav-tabs .nav-link.active
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-bottom: 14px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.nav-tabs .nav-link:hover
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-bottom: 14px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}


.fade
{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.nav-tabs
{
    border:unset;
}



.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }

@media only screen and (max-width: 991px) {

    .poly2{
		font-size: 14px ;
		padding-top: 50px ;
        padding-right: 12px;
        margin-left: 5px;
        font-weight: bold;
        
    }

    #allStatus{
        width:90%;
        float: right;
        margin-right: -113px;
        position: absolute;
    }

    .status-short {
        padding-top: 62px;
        padding-right: 14px;
        font-weight: bold;
    }
    .container {
        width: 100%;
    }

    .bar2 {
        width: 100%;
    }

    #mainBar2 {
        width: 100%;
    }
    
    .pictureCard2 img {
        width: 53%;
    }
   
}


@media only screen and (max-width: 370px){
    #allStatus {
        width: 88%;
        float: right;
        margin-right: -105px;
        position: absolute;
        margin-top: -12px;
    }
}

