@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

*{
	box-sizing: border-box;
	font-family: "Rubik";
}

body{
	text-align:right;
}

.navA{
	text-align: right;
}

button:focus {
	outline: unset;
}

.navButtons{
	float:left;
	direction: ltr;
	list-style-type: none;
	text-align: left;
	color:white;
	font-size:18px;
	font-weight: bold;
}

.loginMobile{
	display: none;
}

.row{
	margin-right: unset;
	margin-left: unset;
	padding-top: 5%;
}
	
.aupPic {
    border-radius: 200px;
    width: 65%;
}

.loginMobile2{
	border:2px solid #1AA0BA;
	background-color:#1AA0BA;
	border-radius: 10px;
}

.devpic
{
	width:50%;
	float:right;
	text-align: center;
}

.title
{
	font-size:62px;
}

.subtitle
{
	font-size:24px;
}

button:hover{
	background-color: #938E8E;
}

a:hover{
	color:white;
}

/* מקטין את הרווח למעלה לשורות שלא צריכות */
.sm
{
	padding-top:1%;
}

.container
{
	max-width: 1300px;
}




.actionButton{
	border:2px solid #1AA0BA;
	background-color:#1AA0BA;
	border-radius: 50px;
	color:#fff;
	text-align: center;
	height: 50px;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom: 30px;
}


.moreButton{
	border:2px solid #1AA0BA;
	background-color: #fff;
	border-radius: 50px;
	color:#1AA0BA;
	text-align: center;
	height: 35px;
	padding-left:21px;
	padding-right:21px;
	padding-top:4px;
	padding-bottom: 4px;
	float: left;
    margin-top: 16px;
    margin-bottom: 15px;
}

.moreButton:hover
{
	background-color: #fff;
}

.projecttitle
{
	background-color: #fff;
    display: inline-block;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    margin-bottom: 20px;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

p{
	font-size:18px;
}

.center
{
	text-align:center;
}

.right
{
	text-align: right;
}



.status{
	border-radius:27px; 
	font-size:18px; 
	font-weight:bold; 
	text-align:center;
	width:50%;
}

.status-a
{
	background-color:#cecbcb;
}

.status-b
{
	background-color:#f3f56f;
}

.status-c
{
	background-color:#9fef9d;
}

#grad {
	background-image: linear-gradient(to right, red , green);
  }

.status-short
{

    padding-top: 35px;

}

.card{
	
	height:500px;
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
	padding: unset;
	border: 2px solid #1aa0ba;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}

.pictureCard{
	background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
	height:50%;
	width:100%;
	border-radius: 18px 18px 0px 0px;
	
}

.card:hover{
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
	cursor: pointer;
}

.descCard{
	
	height:50%;
}

.bar{

	bottom: 2%;
	width: 100%;
}

#mainBar{
	width:100%;
	background-color: rgb(147, 142, 142,0.5);
	border-radius: 20px;
	margin:0 auto;
	direction: ltr;
	
}

.works img{
	padding-left:20px !important;
	width:100%;
}



.accordion a {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding: 1rem 3rem 1rem 1rem;
	color: #7288a2;
	font-size: 1.15rem;
	font-weight: 400;
	border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion a:hover,
  .accordion a:hover::after {
	cursor: pointer;
	color: #03b5d2;
  }
  
  .accordion a:hover::after {
	border: 1px solid #03b5d2;
  }
  
  .accordion a.active {
	color: #03b5d2;
	border-bottom: 1px solid #03b5d2;
  }
  
  .accordion a::after {
	font-family: 'Ionicons';
	content: '\f218';
	position: absolute;
	float: right;
	right: 1rem;
	font-size: 1rem;
	color: #7288a2;
	padding: 5px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #7288a2;
	text-align: center;
  }
  
  .accordion a.active::after {
	font-family: 'Ionicons';
	content: '\f209';
	color: #03b5d2;
	border: 1px solid #03b5d2;
  }
  
  .accordion .content {
	opacity: 0;
	padding: 0 1rem;
	max-height: 0;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	clear: both;
	-webkit-transition: all 0.2s ease 0.15s;
	-o-transition: all 0.2s ease 0.15s;
	transition: all 0.2s ease 0.15s;
  }
  
  .accordion .content p {
	font-size: 1rem;
	font-weight: 300;
  }
  
  .accordion .content.active {
	opacity: 1;
	padding: 1rem;
	max-height: 100%;
	-webkit-transition: all 0.35s ease 0.15s;
	-o-transition: all 0.35s ease 0.15s;
	transition: all 0.35s ease 0.15s;
  }





@media only screen and (max-width: 991px) {

	.devpic
{
	width:100%;
}

	.pictureCard
	{
		height: 40%;
	}
	.loginMobile2{
		display:none;
	}
	.loginMobile{
		display:block;
	}
	.works{
		width:50%;
	}
	.card{
		width:90%;
		height: 485px;
		padding: unset;
	}
	.status-short{
	padding-top: 40px;
	}
	.navbar-brand{
		width:75%;
		float: right
	}
	.navbar-brand img{
		width:80%;
	}
	.navbar-toggler{
		width:15%;
		float: right;
	}
	h1{
		font-size:36px;
	}
	.title{
		font-size:44px;
	}
	.subtitle{
		font-size:18px;
	}
	.descCard p{
		margin-top:20px;
	}
	
	
}