
.container{
    width:80%;
}       
.tabs-page{
    clear: both;
}
#allStatus2{
    margin-top:15px;
    float: right;
    width:100%;
    margin-bottom: 5px; 
}
.poly2{
    -webkit-clip-path: polygon(100% 25%, 75% 50%, 100% 75%, 20% 75%, 0 50%, 17% 25%);
    clip-path: polygon(100% 25%, 82% 50%,100% 75%, 20% 75%, 0 50%, 17% 25%);
    width: 18%;
    height: 110px;
    float: right;
    font-size: 1.5vw;
    padding-top: 40px;
    padding-right: 40px;
}

.status-a{
    background-color:#cecbcb;
}

.status-b{
    background-color:#f3f56f;
}

.status-c{
    background-color:#9fef9d;
}

.status-short{
    padding-top: 40px;
    padding-right: 50px;
}
              
#map{
    float:left;
    width:30%;
    height: 100%;
}

#desc{
    width:50%;
    float: right;
    height:100%;
}
.bar2{
    width: 80%;
    margin:0 auto;
    padding-top: 5vh;
    margin-top:10px;
}

#mainBar2{
	width:80%;
	background-color: rgb(147, 142, 142,0.5);
	border-radius: 20px;
	margin:0 auto;
	direction: ltr;	
}

.pictureCard2{
    float:right;
    margin-top:1vh;
}

.pictureCard2 img{
    width:70%;
}

.pictureCard2 p{
    margin-right:1vw;
}

#buttonFund{
    padding: 10px;
    border: 2px solid #1AA0BA;
    background-color: #1AA0BA;
    border-radius: 10px;
    font-size:18px;
	font-weight: bold;
}
#buttonFund a{
    text-decoration: none;
    color:white;
}

#subMain{
    border:1px solid black;
    margin-top:15px;
}

@media only screen and (max-width: 991px) {

    
   
}


@media only screen and (max-width: 370px){
    
}

