@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
	box-sizing: border-box;
	font-family: "Rubik";
}

body{
	text-align:right;
}

.navA{
	text-align: right;
}

.navButtons{
	float:left;
	direction: ltr;
	list-style-type: none;
	text-align: left;
	color:white;
	font-size:18px;
	font-weight: bold;
}

.loginMobile{
	display: none;
}

@media only screen and (max-width: 991px) {
	.loginMobile2{
		display:none;
	}
	.loginMobile{
		display:block;
	}
}

.loginMobile2{
	border:2px solid #1AA0BA;
	background-color:#1AA0BA;
	border-radius: 10px;
}


.title
{
	font-size:74px;
}

.subtitle
{
	font-size:24px;
}

button:hover{
	background-color: #938E8E;
}

a:hover{
	color:white;
}


.row{
	padding-top: 10%;
}

/* מקטין את הרווח למעלה לשורות שלא צריכות */
.sm
{
	padding-top:1%;
}

.container{
	max-width: 1300px;
}

.actionButton{
	border:2px solid #1AA0BA;
	background-color:#1AA0BA;
	border-radius: 50px;
	color:#fff;
	text-align: center;
	height: 50px;
	padding-left:40px;
	padding-right:40px;
	padding-top:10px;
	padding-bottom: 30px;
}

p{
	font-size:18px;
}

.center
{
	text-align:center;
}

.right
{
	text-align: right;
}

.poly
{
-webkit-clip-path: polygon(100% 25%, 75% 50%, 100% 75%, 20% 75%, 0 50%, 17% 25%);
clip-path: polygon(100% 25%, 75% 50%, 100% 75%, 20% 75%, 0 50%, 17% 25%);
}

/* מספרי השלבים בעמוד הראשי */
.level
{
	border:1px solid black;
	border-radius: 500px;
	
	font-size: 26px;
	background-color:#1aa0ba;
	padding: 13px 21px;
	color:#fff;
    float: right;
}

.card{
	border:1px solid black;
	height:450px;
	box-shadow: 5px 5px rgb(147, 142, 142,0.4);
	margin-bottom: 20px;
}

.pictureCard{
	background-size: cover;
	background-repeat: no-repeat;
	height:66%;
	width:100%;
	margin-top:10px;
	
}

.card:hover{
	background-color:  rgb(147, 142, 142,0.1);
	cursor: pointer;
}

.descCard{
	position: relative;
	height:100%;
}

.bar{
	position:absolute;
	bottom: 5%;
	width: 90%;
}

#mainBar{
	width:90%;
	background-color: rgb(147, 142, 142,0.5);
	border-radius: 20px;
	margin:0 auto;
	direction: ltr;
	
}

.works img{
	padding-left:20px !important;
	width:100%;
}